<!-- Bootstrap -->
@* <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
@section CSS{
    <link href="~/resourses-index/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/resourses-index/css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="~/resourses-index/icons/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="~/resourses-index/icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">

    <!--revolution slider setting css-->
    <link href="~/resourses-index/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="~/resourses-index/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    }
<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="section-title text-center">
                    <h1> <span class="alo">BulBroker</span> team</h1>
                    <span class="border-line"></span>
                    <p class="lead subtitle-caption">
                        These are our the most special people of our team as company.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="~/resourses-index/images/team-1.jpg" class="img-responsive" alt="">

                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Ivan Ivanov</h4>
                    <em>Creator</em>
                    <h5>Phone: +0333333333</h5>
                    <h6>email: i.ivanov@gmail.com</h6>
                </div>
            </div><!--team col end-->
            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="~/resourses-index/images/team-2.jpg" class="img-responsive" alt="">
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Georgi Georgiev</h4>
                    <em>Manager</em>
                    <h5>Phone: +0444444444</h5>
                    <h6>email: g.georgiev@gmail.com</h6>
                </div>
            </div><!--team col end-->
            <div class="col-sm-4 margin-bottom30">
                <div class="team-box">
                    <img src="~/resourses-index/images/team-3.jpg" class="img-responsive" alt="">
                    <ul class="social list-inline">
                        <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-social-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="team-desc">
                    <h4>Iliqna Iliqnova</h4>
                    <em>Broker</em>
                    <h5>Phone: +05555555555</h5>
                    <h6>email: i.iliqnova@gmail.com</h6>
                </div>
            </div><!--team col end-->
        </div>
    </div>
</div><!--team section end-->
