@using DiplomenProekt.Data.Models


@model IEnumerable<Address>

<div class="estate-index">



    @if (Model.Any())
    {
        <h1 class="text-danger" r>Here are the Addressess </h1>
    }
    else
    {
        <p>No addressess in database!</p>
    }

    <div class="d-flex flex-wrap justify-content-around">
        @*   @for (int i = 0; i < 1; i++)
        {*@
        @foreach (Address address in Model)
        {
            <div class="card my-4" style="width: 18rem;">                
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-solid fa-house"></i> @address.City/@address.Neighbourhood

                        <a asp-action="Details" asp-route-id="@address.Id" class="btn btn-warning">Information</a>




                </div>
            </div>
        }
    </div>
</div>
